.icoButton {
  border: 1px solid;
  border-radius: 50%;
  padding: .5em;
  width: 25px;
  height: 25px;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  text-align: center;
}