/* ================================
    colors
  ================================ */ 

  $eggplant: #960070;


/* ================================
    fonts
  ================================ */ 

  $fontBase-family-light: 'SourceSansPro-Italic';
  $fontBase-family-regular: 'SourceSansPro-Regular';
  $fontBase-family-bold: 'SourceSansPro-Bold';

  $fontBase-size: 16px;

/* ================================
    proportions
  ================================ */

  $width-01: 100px;
  $width-02: 200px;
  $width-03: 300px;
  $width-04: 500px;
  $width-05: 800px;
  $width-06: 1300px;

  $border-radius-sm: 5px;
  $border-radius-md: 10px;
  $border-radius-lg: 15px;